{{ $customDateFormat := "02.01.2006" }}
{{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}

<div class="card">
    {{- $images := $.Resources.ByType "image" -}}
    {{- $featured := $images.GetMatch "*feature*" -}}
    {{- $featured := cond (ne $featured nil) $featured ($images.GetMatch "{*cover*,*thumbnail*}") -}}
    {{- $featured := cond (ne $.Params.featured_image nil) (.Page.Resources.GetMatch (printf "*%s" $.Params.featured_image)) $featured -}}
    {{ $startPageColumns := .Site.Params.startPageColumns }}
    {{ $sitetitle := (.Title) }}
    {{- with $featured -}}
        {{ if $startPageColumns }}
            {{ $thumb := .Resize "360x" }}
            <img class="card-img-top" src="{{ $thumb.RelPermalink }}" alt="{{ $sitetitle }}" title="{{ $sitetitle }}">
        {{ else }}
            {{ $thumb := .Resize "800x" }}
            <img class="card-img-top" src="{{ $thumb.RelPermalink }}" alt="{{ $sitetitle }}" title="{{ $sitetitle }}">
        {{ end }}
    {{ end }}
    {{ .Scratch.Set "fullsize" (not $startPageColumns) }}
    {{- partial "content_type_header.html" . -}}

    <div class="card-body">
        <h1 class="card-title"><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></h1>
        <h6 class="card-subtitle mb-2 text-muted">
            <i class="fas fa-calendar-day"></i>&nbsp;{{ .PublishDate.Format $customDateFormat }} - 
            <i class="fas fa-user"></i>&nbsp;{{ range .Site.Author }}{{ . }}{{ end }}
        </h6>
        
        {{ if eq .Site.Params.showPostSummary true }}
            {{- partial "content_type_body.html" . -}}
            <p class="card-text">{{ .Summary }}</p>
            <a href="{{ .RelPermalink }}" class="card-link">Read more&hellip;</a> (<i class="fas fa-clock"></i>&nbsp;~{{ .ReadingTime }} Min.)
        {{ else }}
            {{- partial "content_type_body.html" . -}}
            <p class="card-text">{{ .Content }}</p>
        {{ end }}
    </div>

    <div class="card-footer">
        <small class="text-muted">
            {{ if ne .Type "page" }}
                {{ if gt .Params.categories 0 }}
                    <i class="fas fa-folder text-primary"></i>&nbsp;
                    {{ range .Params.categories }}
                        <a href="{{ "/categories/" | relURL }}#{{ . | urlize }}" class="badge badge-primary"><span>{{ . }}</span></a>
                    {{ end }}
                    <br />
                {{ end }}
                {{ if gt .Params.tags 0 }}
                    <i class="fas fa-tags text-secondary"></i>&nbsp;
                    {{ range .Params.tags }}
                        <a href="{{ "/tags/" | relURL }}#{{ . | urlize }}" class="badge badge-secondary"><span>{{ . }}</span></a>
                    {{ end }}
                {{ end }}
            {{ end }}
        </small>
    </div>
</div>
