{{ if .Site.Params.themeColor }}    
    {{ if eq .Site.Params.themeColor "dark" }}
        <nav class="navbar navbar-dark bg-dark border-bottom">    
    {{ else }}
        <nav class="navbar navbar-light bg-white border-bottom">
    {{ end }}
{{ else }}
    <nav class="navbar navbar-light bg-white border-bottom">
    <!--<nav class="navbar navbar-light navbar-expand-lg bg-white border-bottom">-->
{{ end }}

    <div class="container">
        <a class="navbar-brand text-primary" href="/">{{ .Site.Title }}</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                {{ $currentPage := . }}
                {{ range $index, $element := .Site.Menus.main }}
                    {{ if .HasChildren }}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-primary" href="#" id="dropdown{{$index}}" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">{{ .Pre }} {{ .Name }}</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown{{$index}}">
                            {{ range .Children }}
                                <a class="dropdown-item text-primary" href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a>
                            {{ end }}
                            </div>
                        </li>
                    {{ else }}
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a>
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>

</nav>
