footer {
    padding: 2.5rem 0;
    color: #6c757d;
    background-color: #f3f7fd;
    border-top: 0.05rem solid #d2e1f8;
}

blockquote { border-left: 2px solid #6c757d; padding-left: 10px; margin-top: 2rem; margin-bottom: 2rem; }
a { color: #5b92e5; }
a:link { color: #5b92e5; }
a:visited { color: #5b92e5; }
a:hover { color: #5b92e5; }
a:active { color: #5b92e5; }
.navbar-light .navbar-nav .nav-link { border-bottom: 0px; }
.text-primary { color: #5b92e5!important; }
.text-secondary { color: #6c757d!important; }
.text-muted { color: #6c757d!important; }
.badge-primary { background-color: #5b92e5; color: #ffffff!important; }
.badge-secondary { background-color: #6c757d; color: #ffffff!important; }
.btn-primary { background-color: #5b92e5; color: #ffffff!important; border-color: #337ab7; }
/* .bg-white { background-color: rgba(0,0,0,.03)!important; } */

.bg-white { background-color: #f3f7fd !important; }
nav.navbar a.navbar-brand { font-weight: bold; }
nav.navbar a.navbar-brand:after { content: " | Amateur Radio Information"; font-weight: normal; }
div.card table thead tr th, div.card table tbody tr td { padding-right: 2em; }

.page-item.active .page-link {
    color: #fff;
    background-color: #5b92e5;
    border-color: #5b92e5;
}

div.card-columns > div.card > div.card-body > h1.card-title { font-size: 1.5rem!important; }
